<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item"><a href="https://www.instagram.com/idris_babay/"
                            target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i
                                    class="fab fa-instagram fa-stack-1x fa-inverse"></i></span></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/idris-babay-496a071a3/"
                            target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i
                                    class="fa fa-linkedin-square fa-stack-1x fa-inverse"></i></span></a></li>
                    <li class="list-inline-item"><a href="https://www.facebook.com/IdrisBabayV"
                            target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i
                                    class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a></li>
                    <li class="list-inline-item"><a href="https://www.xing.com/profile/Idris_Babay/cv"
                            target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i
                                    class="fab fa-xing fa-stack-1x fa-inverse"></i></span></a></li>
                    <li class="list-inline-item"><a href="https://github.com/IdrisB23" target="_blank"><span
                                class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i
                                    class="fab fa-github fa-stack-1x fa-inverse"></i></span></a></li>
                </ul>
                <p class="text-muted copyright">Copyright&nbsp;©&nbsp;IDRB 2020</p>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/clean-blog.js"></script>